In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt
import time

In [2]:
url = "https://data.ca.gov/dataset/590188d5-8545-4c93-a9a0-e230f0db7290/resource/926fd08f-cc91-4828-af38-bd45de97f8c3/download/statewide_cases.csv"

In [3]:
df = pd.read_csv(url)

### Clean Up

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7265 entries, 0 to 7264
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   county               7265 non-null   object
 1   totalcountconfirmed  7262 non-null   float64
 2   totalcountdeaths     7263 non-null   float64
 3   newcountconfirmed    7265 non-null   int64
 4   newcountdeaths       7265 non-null   int64
 5   date                 7265 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 340.7+ KB

In [5]:
df

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,151.0,6.0,151,6,2020-03-18
1,Santa Clara,183.0,8.0,32,2,2020-03-19
2,Santa Clara,246.0,8.0,63,0,2020-03-20
3,Santa Clara,269.0,10.0,23,2,2020-03-21
4,Santa Clara,284.0,13.0,15,3,2020-03-22
...,...,...,...,...,...,...
7260,Yolo,941.0,28.0,52,0,2020-07-13
7261,Yolo,966.0,29.0,25,1,2020-07-14
7262,Yolo,1002.0,29.0,36,0,2020-07-15
7263,Yolo,1034.0,30.0,32,1,2020-07-16
7264,Yolo,1055.0,31.0,21,1,2020-07-17

In [6]:
df.fillna(0, inplace = True)
df.drop(df[(df['county'] == 'Out Of Country')].index, inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7168 entries, 0 to 7264
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   county               7168 non-null   object
 1   totalcountconfirmed  7168 non-null   float64
 2   totalcountdeaths     7168 non-null   float64
 3   newcountconfirmed    7168 non-null   int64
 4   newcountdeaths       7168 non-null   int64
 5   date                 7168 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 392.0+ KB

In [26]:
county_df = df[df.groupby('county').date.transform('max') == df['date']]
county_df.reset_index(drop = True)
# county_df.drop(columns='index')

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,7080.0,177.0,90,1,2020-07-17
1,San Mateo,4407.0,114.0,71,0,2020-07-17
2,Santa Barbara,5001.0,32.0,129,0,2020-07-17
3,Tuolumne,73.0,0.0,2,0,2020-07-17
4,Sierra,1.0,0.0,0,0,2020-07-17
5,Placer,1207.0,11.0,39,0,2020-07-17
6,San Luis Obispo,1190.0,6.0,44,0,2020-07-17
7,Solano,2452.0,31.0,80,0,2020-07-17
8,Monterey,2922.0,18.0,65,0,2020-07-17
9,Yuba,231.0,3.0,10,0,2020-07-17
10,San Francisco,4967.0,52.0,129,1,2020-07-17
11,Orange,28962.0,469.0,437,3,2020-07-17
12,Mono,54.0,1.0,1,0,2020-07-17
13,Calaveras,86.0,0.0,4,0,2020-07-17
14,Alpine,1.0,0.0,0,0,2020-07-17
15,Nevada,200.0,1.0,9,0,2020-07-17
16,Butte,497.0,4.0,32,0,2020-07-17
17,Santa Cruz,716.0,3.0,18,0,2020-07-17
18,Mendocino,126.0,0.0,5,0,2020-07-17
19,Fresno,9954.0,100.0,473,9,2020-07-17
20,Inyo,38.0,1.0,0,0,2020-07-17
21,San Joaquin,7925.0,83.0,212,2,2020-07-17
22,Ventura,5451.0,56.0,220,0,2020-07-17
23,Trinity,2.0,0.0,0,0,2020-07-17
24,Mariposa,35.0,1.0,1,0,2020-07-17
25,El Dorado,368.0,0.0,11,0,2020-07-17
26,Sonoma,1982.0,19.0,28,3,2020-07-17
27,Shasta,213.0,7.0,5,1,2020-07-17
28,Lassen,391.0,0.0,36,0,2020-07-17
29,Colusa,146.0,0.0,6,0,2020-07-17
30,Lake,139.0,1.0,11,0,2020-07-17
31,Modoc,0.0,0.0,0,0,2020-07-17
32,Tulare,6671.0,165.0,204,4,2020-07-17
33,San Benito,399.0,2.0,10,0,2020-07-17
34,Alameda,8893.0,161.0,174,7,2020-07-17
35,Marin,3839.0,29.0,293,0,2020-07-17
36,San Diego,22491.0,472.0,634,7,2020-07-17
37,Glenn,203.0,0.0,13,0,2020-07-17
38,Siskiyou,40.0,0.0,1,0,2020-07-17
39,Madera,1214.0,11.0,22,0,2020-07-17
40,Tehama,128.0,1.0,2,0,2020-07-17
41,Sutter,458.0,4.0,14,0,2020-07-17
42,Napa,598.0,5.0,17,1,2020-07-17
43,Los Angeles,150481.0,4047.0,2722,59,2020-07-17
44,Sacramento,6563.0,95.0,123,1,2020-07-17
45,Merced,2328.0,15.0,100,0,2020-07-17
46,Kings,2978.0,41.0,41,0,2020-07-17
47,Kern,8291.0,105.0,856,0,2020-07-17
48,Riverside,29639.0,587.0,735,2,2020-07-17
49,Unassigned,15.0,0.0,11,0,2020-07-17
50,Contra Costa,5483.0,96.0,145,3,2020-07-17
51,Del Norte,60.0,0.0,0,0,2020-07-17
52,San Bernardino,23057.0,315.0,702,5,2020-07-17
53,Stanislaus,6220.0,63.0,143,2,2020-07-17
54,Plumas,16.0,0.0,0,0,2020-07-17
55,Humboldt,185.0,4.0,1,0,2020-07-17
56,Amador,48.0,0.0,2,0,2020-07-17
57,Imperial,7193.0,156.0,45,8,2020-07-17
58,Yolo,1055.0,31.0,21,1,2020-07-17

### Load to SQL

In [27]:
rds_connection_string = "postgres:postgres@localhost:5432/covid-vaccine-plz"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [28]:
engine.table_names()

['citywide_table', 'statewide_table']

In [29]:
county_df.to_sql(name='statewide_table',con=engine,if_exists='append',index=False)

In [30]:
pd.read_sql_query('select* from statewide_table',con=engine).head()

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
0,Santa Clara,7080,177,90,1,2020-07-17
1,San Mateo,4407,114,71,0,2020-07-17
2,Santa Barbara,5001,32,129,0,2020-07-17
3,Tuolumne,73,0,2,0,2020-07-17
4,Sierra,1,0,0,0,2020-07-17

In [31]:
df.to_csv("./CSV/statewide.csv", index=False)